# Node
frontend/node_modules/

# Python
backend/__pycache__/
*.pyc

# Environment
.env

# Build files
frontend/dist/
frontend/.vite/
build/
.build/

# CatBoost temp files
backend/catboost_info/

# Logs
npm-debug.log*